{% extends 'layout.html' %}


{% block title %} My profile {% endblock %}


{% block content %}
    <div class="row">
       <div class="span6">
           <div>Lectures that you're reading:</div>
              {% include 'account/blocks/lecture_list_grouped_by_course.html' with statuses=not_passed_statuses only %}
       </div>

       <div class="span6">
           <div>Lectures that you've failed:</div>
              {% include 'account/blocks/lecture_list_grouped_by_course.html' with statuses=failed_statuses only %}
       </div>              
    </div>
{% endblock %}
