{% extends 'layout.html' %}


{% block title %} My profile {% endblock %}


{% block content %}
    <div>
       <div>Lectures that you're reading:</div>
          <ul>
              {% for status_info in statuses %}
                 {% if status_info.status == 'NP' %}
                     <li>
                         <a href="{{ status_info.lecture.get_absolute_url }}" class="lectures-reading__lecture-name">
                             {{ status_info.lecture.title }}
                         </a>
                         <a href="{{ status_info.lecture.course.get_absolute_url }}" class="lectures-reading__course-name">
                             ({{ status_info.lecture.course.title }})
                         </a>
                     </li>
                 {% endif %}
              {% endfor %}
          </ul>

       <div>Lectures that you're failed:</div>
          <ul>
              {% for status_info in statuses %}
                 {% if status_info.status == 'FL' %}
                     <li>
                         <a href="{{ status_info.lecture.get_absolute_url }}" class="lectures-failed__lecture-name">
                             {{ status_info.lecture.title }}
                         </a>
                         <a href="{{ status_info.lecture.course.get_absolute_url }}" class="lectures-failed__course-name">
                             ({{ status_info.lecture.course.title }})
                         </a>
                     </li>
                 {% endif %}
              {% endfor %}
          </ul>

          
    </div>
{% endblock %}
