{% extends 'layout.html' %}

{% load staticfiles %}

{% block title %} {{ course }} info {% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/lecture.css' %}" rel="stylesheet">    
{% endblock %}

{% block content %}
    <dl class="dl-horizontal" class="course-info">

      <dd>
          <span class="course-info__name">{{ course.title }}</span>
          <span class="course-info__abbrev">({{ course.abbrev }})</span>
      </dd>
      <dt>Prerequsites</dt>
      <dd>{{ course.prerequsites }}</dd>
      <dt>Description</dt>
      <dd>{{ course.description }}</dd>
      <dt>Lectures in course</dt>      
      <dd class="course-info__lectures-block">   
          {% if lectures %}
               <ol>
                   {% for lecture in lectures %}
                       <li>
                           <a href="{{ lecture.get_absolute_url }}">{{ lecture.title }}</a>                           
                       </li>
                   {% endfor %}
               </ol>
          {% else %}
             <div> Sorry, no lectures in this course for now.</div>
          {% endif %}
      </dd>
   </dl>
   <a class="btn" href="{% url 'lecture-add' %}?course={{ course.pk }}">Add lecture</a>

{% endblock %}
